<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientLib.css  @categories = 'learn529'}">
</sly></sly>

<section class="plan">
            <div class="d-none d-lg-block" style="max-width : 95%; margin: auto;">
                <div class="col-lg-7">
                    <div class="row">
                        <article>
                            <h3> PLAN</h3>
                            <h2> Your savings plan: Start now.</h2>
                            <p> You can do this. We make it simple to figure out what,<br>when and how much to save.</p>
                            <h4> Let's do the math.</h4>
                        </article>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"><img class="rounded float-left"
                                src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png"
                                alt="...">
                            <p>I want to see how much my savings can grow over time.</p><a href="">Go to the savings
                                calculator</a>
                        </div>
                        <div class="col-sm-3" style="left : 15vw"><img class="rounded float-right"
                                src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png"
                                alt="...">
                            <p>I want to compare college costs and create a savings plan.</p><a href="">Go to the
                                college calculator</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="plan__fatherson"><img class="img-fluid" style="width:75vw"
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png"
                            alt=""></div>
                </div>
            </div>
            <div class="d-lg-none">
                <article>
                    <h3> PLAN</h3>
                    <h4> Your savings plan: Start now.</h4>
                    <p> You can do this. We make it simple to figure out what,when and how much to save.</p>
                    <h6> Let's do the math.</h6>
                </article>
                <div class="row">
                    <div class="col-sm-6"><img class="rounded float-left"
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png"
                            alt="...">
                        <p>I want to see how much my savings can grow over time.</p><a href="">Go to the savings
                            calculator</a>
                    </div>
                    <div class="col-sm-6"><img class="rounded float-right"
                            src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png"
                            alt="...">
                        <p>I want to compare college costs and create a savings plan.</p><a href="">Go to the college
                            calculator</a>
                    </div>
                </div><span> <img class="img-fluid"
                        src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png"
                        alt="" style="padding-top : 10vh"></span>
            </div>
        </section>
