<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientLib.css  @categories = 'herobanner529'}">
</sly></sly>

<div class="main" style="max-width : 100%; margin : auto;">
        <div class="jumbotron jumbotron-fluid jumbo">
            <div class="jumbo__title">
                <h1>Can I put him through college without a <br> mountain of debt?</h1>
                <p>With CollegeAmerica® from Capital Group,<br>the nation’s largest 529 education savings plan.</p>
                <h1>I can. </h1>
            </div>
            <div class="float-right"><img
                    src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/logo-virginia.png"
                    alt="" style="margin-right:20px"></div>
        </div>