<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientLib.css  @categories = 'navbar529'}">
</sly></sly>

<div class="hideMob showDesk">
            <div class="utility-bar">
                <ul> <a class="utility-bar__btn login-btn" href="#">Login</a><a class="utility-bar__btn"
                        href="#">Preferences</a><a class="utility-bar__btn" href="#">Contact Us</a></ul>
                <li class="nav-item drpdown"><a class="drpdown__btn nav-link dropdown-toggle" id="navbarDropdown"
                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><span><strong>Other sites </strong></span>: Individual Investors </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="#">Action</a><a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </div>
        </div>
        <nav class="navbar navbar-expand-md main-nav navbar-light"><a class="navbar-brand" href="#"> <img
                    src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/cg-af-primary-rgb-207x95.png"
                    width="auto" height="119px" alt=""></a><button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="items">
                    <div class="nav_utility showMob hideDesk">
                        <div class="col-lg-4 col-md-4">
                            <ul>
                                <li><a href=""> <span><strong>Other sites </strong></span>: Individual Investors</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-7 left col-md-7">
                            <ul>
                                <li><a href="#">Contact Us </a></li>
                                <li><a href="#">Preference</a></li>
                                <li class="login"><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <form class="search"><input type="search" placeholder="Enter a search term or ticker"
                            aria-label="Search" style="font-style:italic; font-size:15px;"><img class="search__btn__img"
                            src="https://www.americanfunds.com/apps/nextgen/docroot/images/new-assets/search.png"
                            alt="search"></form>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">MY ACCOUNTS </a></li>
                        <li class="nav-item"><a class="nav-link" href="#">INVESTMENTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">INSIGHTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">PRODUCTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">PLANNING</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">SERVICES & SUPPORT</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">FORMS</a></li>
                    </ul>
                    <nav class="showMob hideDesk" aria-label="breadcrumb">
                        <ol class="breadcrumb" style="height :93px; background : #FFFFFF">
                            <li class="breadcrumb-item"><a style="color: #1D5799;  font-size: 18px;"
                                    href="#">Planning</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="font-size: 18px;">College
                                Savings</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </nav>
        <div class="hideMob showDesk">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Planning</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="font-size: 18px; color: #333333">
                        College Savings</li>
                </ol>
            </nav>
        </div>