<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientLib.css  @categories = 'footer-menu529'}">
</sly></sly>


<section class="footermenu529">
            <div class="d-none d-lg-block" style="height: 400px; padding-top : 30px">
                <div class="footermenu__column">
                    <h3>MY ACCOUNTS</h3>
                    <ul>
                        <li><a href="#">View Portfolio</a></li>
                        <li><a href="#">Postfolio Value History</a></li>
                        <li><a href="#">Statements &amp; Tax Forms</a></li>
                        <li><a href="#">Sign Up for Paperless Delivery of Documents</a></li>
                    </ul>
                </div>
                <div class="footermenu__column">
                    <h3>INVESTMENTS</h3>
                    <ul>
                        <li><a href="#">All American Funds</a></li>
                        <li><a href="#">Compare Jobs</a></li>
                        <li><a href="#">Prospectuses &amp; Annual Reports</a></li>
                    </ul>
                </div>
                <div class="footermenu__column">
                    <h3>INSIGHTS</h3>
                    <ul>
                        <li><a href="#">Investment Insights</a></li>
                    </ul>
                </div>
                <div class="footermenu__column">
                    <h3>PRODUCTS</h3>
                    <ul>
                        <li><a href="#">Traditional and Roth IRAs</a></li>
                        <li><a href="#">SIMPLE IRAs</a></li>
                        <li><a href="#">401(k) Plans</a></li>
                        <li><a href="#">CollegeAmerica® 529 Plans</a></li>
                        <li><a href="#">Portfolio Series </a></li>
                    </ul>
                </div>
                <div class="footermenu__column">
                    <h3>PLANNING</h3>
                    <ul>
                        <li><a href="#">Tools &amp; Calculators</a></li>
                        <li><a href="#">Investing Fundamentals</a></li>
                        <li><a href="#">Mutual Fund Basics</a></li>
                        <li><a href="#">Creating a Financial Plan</a></li>
                        <li><a href="#">Retirement Planning</a></li>
                        <li><a href="#">College Savings</a></li>
                        <li><a href="#">Market Fluctuations</a></li>
                    </ul>
                </div>
                <div class="footermenu__column">
                    <h3>SERVICE &amp; SUPPORT</h3>
                    <ul>
                        <li><a href="#">Forms</a></li>
                        <li><a href="#">Tax Center</a></li>
                        <li><a href="#">How to Use Your Account</a></li>
                        <li><a href="#">Changing Your Preferences</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-lg-none" style="min-width : 100%">
                <div class="accordion" id="accordionExample" itemscope>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> MY
                                    ACCOUNTS</button></h2>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <ul>
                                <li><a href=""> View Portfolio</a></li>
                                <li><a href="">Portfolio Value History</a></li>
                                <li><a href="">Statements & Tax Forms</a></li>
                                <li><a href="">Sign Up for Paperless Delivery of Documents</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    INVESTMENTS</button></h2>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <ul>
                                <li><a href="">All American Funds</a></li>
                                <li><a href="">Compare Funds</a></li>
                                <li><a href="">Prospectuses & Annual Reports</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    INSIGHTS</button></h2>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <ul>
                                <li><a href="">Investment Insights</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    PRODUCTS</button></h2>
                        </div>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <ul>
                                <li><a href="">Traditional and Roth IRAs</a></li>
                                <li><a href="">SIMPLE IRAs</a></li>
                                <li><a href="">401(k) Plans</a></li>
                                <li><a href="">CollegeAmerica® 529 Plans</a></li>
                                <li><a href="">Portfolio Series</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    PLANNING</button></h2>
                        </div>
                        <div class="collapse" id="collapseFive" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <ul>
                                <li><a href="">Tools & Calculators</a></li>
                                <li><a href="">Investing Fundamentals</a></li>
                                <li><a href="">Mutual Fund Basics</a></li>
                                <li><a href="">Creating a Financial Plan</a></li>
                                <li><a href="">Retirement Planning</a></li>
                                <li><a href="">College Savings</a></li>
                                <li><a href="">Market Fluctuations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    SERVICE & SUPPORT</button></h2>
                        </div>
                        <div class="collapse" id="collapseSix" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <ul>
                                <li> <a href="">Forms</a></li>
                                <li><a href="">Tax Center</a></li>
                                <li><a href="">How to Use Your Account</a></li>
                                <li><a href="">Changing Your Preferences</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>