<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientLib.css  @categories = 'stickynav529'}">
</sly></sly>



<div class="sticky-top" style="background : #ffffff; padding: 0 20px;">
    <ul class="nav row">

        <li class="nav-item col">
        	<a class="col__left nav-link" href="#">
            	<div class="new py-4"> 
            		<span class="title">LEARN</span>
            		<p class="subtitle d-none d-sm-block"> Based on your life stage</p>
            	</div></a></li>

        <li class="nav-item col">
            <a class="nav-link col__middle" href="#">
                <div class="new py-4">
                    <span class="title">PLAN</span>
                    <p class="subtitle d-none d-sm-block"> Using our calculators</p>
                 </div></a></li>

         <li class="nav-item col">
             <a class="nav-link col__right" href="#">
                 <div class="new py-4">
                     <span class="title">CHOOSE</span>
                     <p class="subtitle d-none d-sm-block">CollegeAmerica  </p>
              	 </div></a></li>
    </ul></div>
